<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  ></button>
  <span>Angular-jwt-images</span>
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink="/auth"
  >
    <mat-icon>login</mat-icon>
    <span>login</span>
  </button>
</mat-toolbar>

<div class="body">
  <div class="login">
    <form [formGroup]="userCreateForm" (ngSubmit)="createUser()">
      <img src="../../../assets/img/authentication.png" width="40%" />
      <h1>Create User</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>User name</mat-label>
        <input type="text" matInput formControlName="userName" />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>User login</mat-label>
        <input type="text" matInput formControlName="userLogin" />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="userEmail" />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>User Password</mat-label>
        <input type="password" matInput formControlName="usepassword" />
      </mat-form-field>
      <!-- <mat-form-field class="ancho" appearance="fill">
        <mat-label>User active</mat-label>
        <input type="text" matInput formControlName="isactive" />
      </mat-form-field>-->
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>User activate</mat-label>
        <mat-select formControlName="isactive">
          <mat-option value="true">True</mat-option>
          <mat-option value="false">False</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="ancho button"
        [disabled]="userCreateForm.invalid"
      >
        Create user
      </button>
      <br />
      <br />

      <button
        type="button"
        mat-raised-button
        color="primary"
        class="ancho button"
        (click)="clear()"
      >
        Clear
      </button>
    </form>
  </div>
</div>
