<div class="body">
  <div class="login">
    <form [formGroup]="formLogin" (ngSubmit)="signIn()">
      <img src="../../../assets/img/authentication.png" width="40%" />
      <h1>login</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Login User</mat-label>
        <input matInput formControlName="loginUser" />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>User Password</mat-label>
        <input type="password" matInput formControlName="userPassword" />
      </mat-form-field>
      <br />
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="ancho button"
        [disabled]="formLogin.invalid"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
